<html>
    <head>
        <title>Frequency</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <center style="margin-top: 15%">
            <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">You can type here any URl</label>
                    <input required type="text" class="form-control" style="width: 400px" id="text" name="text" aria-describedby="emailHelp" placeholder="Enter URl">
                    <small id="emailHelp" class="form-text text-muted">type any URl here and get top 10 most Frequent used.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </center>
    </body>
</html>